*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

/* #---> SECTIONS */
/* ================================================== */
/* |NOTE| Remove the margin in all browsers. */
body {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  clear: both;
  overflow: visible;
  margin: 0;
  border-top-width: 1px;
  height: 0;
  box-sizing: content-box;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

img {
  height: 100%;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  margin: 0;
  border-radius: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  color: inherit;
  background: transparent;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  white-space: revert;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

[type=search]::-webkit-search-decoration,
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-results-button,
[type=search]::-webkit-search-results-decoration {
  display: none;
}

::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: none;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  font-weight: bold;
  text-align: left;
}

@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Muller;
  font-display: swap;
  src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body {
  font-family: "Muller", sans-serif;
  font-weight: 400;
  background-color: #F1F1F1;
}

.site {
  overflow: hidden;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.title {
  margin-left: 45px;
  font-size: 40px;
  line-height: 40px;
  color: #333;
  margin-bottom: 20px;
}

.btn {
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  padding: 13px 20px;
  border: 1px solid #CC9933;
  border-radius: 10px;
}

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

.header__container {
  padding-top: 30px;
  padding-bottom: 35px;
}
.header__top {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.header__logo {
  outline: none;
  margin-right: 40px;
}
.header__logo-phone {
  position: relative;
  font-family: "Muller";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
  margin-right: auto;
  transition: 0.3s ease-in-out;
  outline: none;
}
.header__logo-phone::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.header__logo-phone.focus-visible:before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .header__logo-phone:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
}
.header__logo-phone:active:not(.focus-visible) {
  color: #A47312;
}
.header__lk {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: #CC9933;
  outline: none;
  transition: 0.3s ease-in-out;
}
.header__lk::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.header__lk.focus-visible::before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .header__lk:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
  .header__lk:hover svg {
    fill: #F0BF5F;
  }
}
.header__lk:active:not(.focus-visible) {
  color: #A47312;
}
.header__lk:active svg {
  fill: #A47312;
}
.header__lk svg {
  margin-right: 7px;
  fill: #CC9933;
  transition: 0.3s ease-in-out;
}
.header__bottom {
  padding-top: 15px;
}
.header__menu {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.header__menu-list {
  display: flex;
  align-items: center;
  padding-top: 27px;
  padding-right: 85px;
  padding-bottom: 27px;
  padding-left: 45px;
}
.header__menu-items {
  font-size: 16px;
  line-height: 16px;
  color: #666;
}
.header__menu-items:not(:last-child) {
  margin-right: 45px;
}
.header__menu-links {
  position: relative;
  outline: none;
  transition: 0.3s ease-in-out;
}
.header__menu-links::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.header__menu-links.focus-visible::before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .header__menu-links:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
}
.header__menu-links:active:not(.focus-visible) {
  color: #A47312;
}
.header__btn {
  display: inline-block;
  outline: none;
  transition: 0.3s ease-in-out;
}
.header__btn.focus-visible {
  background-color: #CC9933;
  border: 1px solid #CC9933;
  color: #fff;
  border-radius: 10px;
}
@media screen and (any-hover: hover) {
  .header__btn:hover:not(.focus-visible) {
    background-color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #fff;
  }
}
.header__btn:active:not(.focus-visible) {
  background-color: #A47312;
  border: 1px solid #A47312;
  border-radius: 10px;
  color: #fff;
}
.header__btn:first-of-type {
  margin-right: 40px;
}

.hero__container {
  padding-top: 35px;
  padding-bottom: 35px;
}
.hero__wrapper {
  display: flex;
}
.hero__price {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: auto;
}
.hero__card-title {
  width: 70%;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.hero__more {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: #F0BF5F;
  outline: none;
  transition: 0.3s ease-in-out;
}
.hero__more:before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.hero__more.focus-visible:before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .hero__more:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
}
.hero__more:active:not(.focus-visible) {
  color: #A47312;
}
.hero__card-img {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 573px;
  min-height: 258px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 45px;
  padding-left: 45px;
}
.no-webp .hero__maldivec {
  background-image: url("../img/1920/hero-section/maldivec-card-1920.png"); }
.no-webp .hero__crit {
  background-image: url("../img/1920/hero-section/crit-card-1920.png"); }
.no-webp .hero__luxe {
  background-image: url("../img/1920/hero-section/luxure-card-1920.png"); }
.hero__luxe {
  justify-content: flex-end;
  min-height: 540px;
}
.hero__luxe-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.hero__luxe-price {
  font-size: 30px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.8;
  margin-bottom: 47px;
}
.hero__litle-card:not(:last-child) article {
  margin-right: 24px;
  margin-bottom: 24px;
}
.hero__arrow-svg {
  fill: transparent;
  stroke: #F0BF5F;
  transition: 0.3s ease-in-out;
}
.hero__more {
  display: flex;
  align-items: center;
}
@media screen and (any-hover: hover) {
  .hero__more:hover:not(.focus-visible) .hero__arrow-svg {
    transform: translateX(10px);
    stroke: #F0BF5F;
  }
}
.hero__more:active:not(.focus-visible) .hero__arrow-svg {
  transform: translateX(10px);
  stroke: #A47312;
}

.about__container {
  padding-top: 35px;
  padding-bottom: 35px;
}
.about__descr {
  width: 80%;
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.services__container {
  padding-top: 35px;
  padding-bottom: 35px;
}
.services__card {
  display: flex;
  flex-wrap: wrap;
}
.services__content {
  width: 573px;
  background-color: #FFFFFF;
  border-radius: 0px 0px 15px 15px;
  padding-top: 26px;
  padding-right: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
}
.services__card-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #CC9933;
  transition: 0.3s ease-in-out;
}
@media screen and (any-hover: hover) {
  .services__card-title:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
}
.services__card-title:active:not(.focus-visible) {
  color: #A47312;
}
.services__card-descr {
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}
.services__card-list {
  margin-bottom: 10px;
}
.services__card-list:not(:last-child) {
  margin-right: 10px;
}
.services__link {
  display: inline-block;
  position: relative;
  z-index: 0;
  outline: none;
  transition: 0.3s ease-in-out;
}
.services__link::before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.services__link.focus-visible::before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .services__link:hover:not(.focus-visible) svg {
    stroke: #F0BF5F;
    transform: translateX(10px);
  }
}
.services__link:active:not(.focus-visible) svg {
  stroke: #A47312;
}
.services__arrow-svg {
  fill: transparent;
  stroke: #CC9933;
  transition: 0.3s ease-in-out;
}

.advantages__container {
  padding-top: 35px;
  padding-bottom: 35px;
}
.advantages__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 16px;
}
.advantages__card-list {
  grid-column: span 3;
  background-color: #FFFFFF;
  border-radius: 15px;
  padding-top: 40px;
  padding-right: 42px;
  padding-bottom: 32px;
  padding-left: 45px;
}
.advantages__card-img {
  margin-bottom: 10px;
}
.advantages__descr {
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

.accommodation__container {
  padding-top: 35px;
  padding-bottom: 35px;
}
.accommodation__card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 24px;
}
.accommodation__card-list {
  grid-column: span 4;
}
.accommodation__content {
  position: relative;
  background-color: #FFFFFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-top: 32px;
  padding-right: 45px;
  padding-bottom: 45px;
  padding-left: 45px;
}
.accommodation__card-span {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}
.accommodation__card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 16px;
}
.accommodation__card-title {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 16px;
}
.accommodation__region {
  font-size: 16px;
  line-height: 16px;
  color: #999;
  margin-bottom: 20px;
}
.accommodation__btn {
  position: relative;
  display: inline-block;
  transition: 0.3s ease-in-out;
  outline: none;
}
.accommodation__btn.focus-visible {
  background-color: #CC9933;
  border: 1px solid #CC9933;
  color: #fff;
  border-radius: 10px;
}
@media screen and (any-hover: hover) {
  .accommodation__btn:hover:not(.focus-visible) {
    background-color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #fff;
  }
}
.accommodation__btn:active:not(.focus-visible) {
  background-color: #A47312;
  border: 1px solid #A47312;
  border-radius: 10px;
  color: #fff;
}
.accommodation__star {
  position: absolute;
  top: 30px;
  right: 45px;
}
.no-webp .accommodation__img-9 {
  background-image: url("../img/1920/accommodation-section/accommodation-big.png"); }
.accommodation__img-9 {
  min-height: 440px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.accommodation__card-content {
  width: 100%;
  padding: 27px 40px;
}
.accommodation__card-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #FFFFFF;
  outline: none;
  transition: 0.3s ease-in-out;
  position: relative;
}
.accommodation__card-link:before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.accommodation__card-link.focus-visible::before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .accommodation__card-link:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
  .accommodation__card-link:hover:not(.focus-visible) svg {
    stroke: #F0BF5F;
    transform: translateX(10px);
  }
}
.accommodation__card-link:active:not(.focus-visible) {
  color: #A47312;
}
.accommodation__card-link:active:not(.focus-visible) svg {
  stroke: #A47312;
}
.accommodation__arrow-svg {
  fill: transparent;
  stroke: #fff;
  transition: 0.3s ease-in-out;
}

.tour {
  padding-top: 35px;
  padding-bottom: 35px;
}
.tour__container {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #E9E9E9;
  border-radius: 15px;
}
.tour__form {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 30px 28px;
  border-radius: 15px;
  justify-content: space-between;
}
.tour__content {
  display: flex;
  flex-direction: column;
}
.tour__town {
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  margin-bottom: 15px;
}
.tour__select {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.contacts__container {
  padding-top: 35px;
  padding-bottom: 35px;
}
.contacts__wrapper {
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 45px;
}
.contacts__left-content {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 50px;
}
.contacts-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin-right: auto;
}
.contacts__address-title {
  margin-right: 81px;
}
.contacts__phone-title {
  margin-right: 47px;
}
.contacts__email-title {
  margin-right: 93px;
}
.contacts__time-title {
  margin-right: 74px;
}
.contacts-flex {
  display: flex;
  padding-bottom: 23px;
  border-bottom: 1px solid #E9E9E9;
}
.contacts-flex:not(:first-child) {
  padding-top: 25px;
}
.contacts__address-descr {
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.contacts__phone-item {
  position: relative;
  z-index: 0;
  transition: 0.3s ease-in-out;
  outline: none;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}
.contacts__phone-item:before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.contacts__phone-item.focus-visible:before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .contacts__phone-item:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
}
.contacts__phone-item:active:not(.focus-visible) {
  color: #A47312;
}
.contacts__email-link {
  position: relative;
  z-index: 0;
  transition: 0.3s ease-in-out;
  outline: none;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}
.contacts__email-link:before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.contacts__email-link.focus-visible:before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .contacts__email-link:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
}
.contacts__email-link:active:not(.focus-visible) {
  color: #A47312;
}
.contacts__email-descr {
  font-size: 16px;
  line-height: 150%;
  color: #999;
}
.contacts__phone-content {
  display: flex;
  flex-direction: column;
}
.contacts__btn {
  position: relative;
  z-index: 0;
  margin-top: 45px;
  display: inline-block;
  padding: 27px 30px;
  transition: 0.3s ease-in-out;
  outline: none;
}
.contacts__btn.focus-visible {
  background-color: #CC9933;
  border: 1px solid #CC9933;
  color: #fff;
  border-radius: 10px;
}
@media screen and (any-hover: hover) {
  .contacts__btn:hover:not(.focus-visible) {
    background-color: #CC9933;
    border: 1px solid #CC9933;
    border-radius: 10px;
    color: #fff;
  }
}
.contacts__btn:active:not(.focus-visible) {
  background-color: #A47312;
  border: 1px solid #A47312;
  border-radius: 10px;
  color: #fff;
}
.image-reseption {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.contacts__time-descr {
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.contacts__wrapper {
  display: flex;
}

.footer-bg {
  background-color: #333333;
  border-radius: 15px;
  background-image: url(img/1920/footer-section/icon-footer.svg);
  background-repeat: no-repeat;
  background-position: 700px bottom;
}
.footer__container {
  padding-top: 35px;
}
.footer__wrapper {
  padding: 45px;
  display: flex;
}
.footer__left-content {
  max-width: 300px;
  margin-right: 125px;
}
.footer__center-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  align-items: flex-start;
}
.footer__lagoona-logo {
  position: absolute;
  bottom: -45px;
  left: 177px;
}
.footer__descr {
  font-size: 16px;
  line-height: 190%;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.footer__descr:first-child {
  margin-bottom: 37px;
}
.footer__policy {
  position: relative;
  z-index: 0;
  transition: 0.3s ease-in-out;
  outline: none;
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
}
.footer__policy:before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.footer__policy.focus-visible:before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .footer__policy:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
}
.footer__policy:active:not(.focus-visible) {
  color: #A47312;
}
.footer__address {
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer__phone-item, .footer__email-link {
  font-size: 16px;
  line-height: 150%;
  color: #CC9933;
  position: relative;
  z-index: 0;
  outline: none;
  transition: 0.3s ease-in-out;
}
.footer__phone-item:before, .footer__email-link:before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.footer__phone-item.focus-visible:before, .footer__email-link.focus-visible:before {
  opacity: 1;
  visibility: visible;
}
@media screen and (any-hover: hover) {
  .footer__phone-item:hover:not(.focus-visible), .footer__email-link:hover:not(.focus-visible) {
    color: #F0BF5F;
  }
}
.footer__phone-item:active:not(.focus-visible), .footer__email-link:active:not(.focus-visible) {
  color: #A47312;
}
.footer__social-list:not(:last-child) {
  margin-bottom: 20px;
}
.footer__social-link {
  position: relative;
  z-index: 0;
  transition: 0.3s ease-in-out;
  outline: none;
}
.footer__social-link:before {
  position: absolute;
  content: "";
  top: -5px;
  right: -2px;
  bottom: -5px;
  left: -2px;
  border: 2px solid #CC9933;
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility, 0.3s ease-in-out;
}
.footer__social-link.focus-visible:before {
  opacity: 1;
  visibility: visible;
}
.footer__social-svg {
  fill: #999;
  transition: 0.3s ease-in-out;
}
@media screen and (any-hover: hover) {
  .footer__social-svg:hover:not(.focus-visible) {
    fill: #F0BF5F;
  }
}
.footer__social-svg:active:not(.focus-visible) {
  fill: #A47312;
}
.webp .hero__maldivec { background-image: url(../img/1920/hero-section/maldivec-card-1920.webp); }
.webp .hero__crit { background-image: url(../img/1920/hero-section/crit-card-1920.webp); }
.webp .hero__luxe { background-image: url(../img/1920/hero-section/luxure-card-1920.webp); }
.webp .accommodation__img-9 { background-image: url(../img/1920/accommodation-section/accommodation-big.webp); }